*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-text-size-adjust: none;
}

html,body{
	margin: 0;
	padding: 0;
	border: none;
	line-height: 1;
	min-height:100%;
	height: 100%;
}
body{
	color: #505050;
	font: lighter 14px/1.5
		-apple-system,
		"Helvetica Neue",
		"Arial",
		"PingFang SC",
		"Hiragino Sans GB",
		"STHeiti",
		"微软雅黑",
		"Microsoft YaHei",
		"Microsoft JhengHei",
		"Source Han Sans SC",
		"Noto Sans CJK SC",
		"Source Han Sans CN",
		"Noto Sans SC",
		"Source Han Sans TC",
		"Noto Sans CJK TC",
		"WenQuanYi Micro Hei",
		SimSun,
		sans-serif;
}
figure{
	display: block;
}

ul,ol,figure,form{
	margin: 0;
	padding: 0;
}

img{
	border: 0;
	vertical-align: middle;
}

a{
	color: #505050;
	text-decoration: none;
}
a:hover{
	color: #000;
}
a[href^="mailto:"]:hover{
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: lighter;
}

form{
	margin: 0;
}
fieldset{
	margin: 0;
	padding: 0;
	border: none;
}

.fa{
	display: inline-block;
	text-align: center;
}

.fa:before,
.fa:before{
	text-align: center;
}

.container{
	position: relative;
	width: 80%;
	min-width: 800px;
	max-width: 1280px;
	margin: auto;
}
.container-full{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

@media (min-width: 1440px) {
	body{
		font-size: 16px;
	}
}

@media (max-width: 1023px) {
	.container{
		width: 100%;
		min-width: auto;
		padding: 0 1em;
	}
}

@media (max-width: 640px) {
	body{
		font-size: 12px;
	}
}